---
http_interactions:
- request:
    method: post
    uri: https://api.instagram.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: grant_type=authorization_code&code=eb9e7974fb02478ba8dfa84a58a57532&client_id=4019d1f725d6486a9f30ff5c1c0182e1&client_secret=d234678280d3405abaee06748aa84399&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauthorizations%2Fcallback%2Finstagram&token_method=post
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"35119537.4019d1f.7491467b1c044eb393ed563d91169c01","user":{"username":"joemburgess","bio":"","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_35119537_75sq_1354795056.jpg","full_name":"Joe
        Burgess","id":"35119537"}}'
  recorded_at: Wed, 22 May 2013 20:33:49 GMT
recorded_with: VCR 2.4.0
