<h1><%= @group.name %></h1>

<h2>Members</h2>
<% @group.users.each do |member| %>
  <p><%= member.name %></p>
<% end %>

<% if @group.users.include?(current_user)%>
  <%= link_to 'edit', edit_group_path %>
<% end %>