<% if fb = user.facebook %>
<div class="facebook">
  <% fb.get_statuses(5).each do |s| %>
  <div class="wrapper">
    <div class="status">
      <div class="person"><%= image_tag(fb.get_profile_picture) %><%= user.name %></div>
      <div class="info"><%= s %></div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
