<% if ig = user.instagram %>
  <div class="instagram">
    <% ig.get_photos.each do |media_item| %>
      <% if media_item.link %> <a href="<%= media_item.link %>"> <% end %>
      <img class="photo" src='<%= media_item.images.thumbnail.url %>' >
      <% if media_item.link %> </a> <% end %>
    <% end %>
  </div>
<% end %>
