<% if uinstagram = user.instagram %>
<% @user_instagram = Instagram.client(:access_token => uinstagram.auth_token)%>
<% if @user_instagram.present? %>
  <p>
    <% for media_item in @user_instagram.user_recent_media(:count => 5) %>
      <% if media_item.link %> <a href="<%= media_item.link %>"> <% end %>
      <img src = '<%= media_item.images.thumbnail.url %>' >
      <% if media_item.link %> </a> <% end %>
    <% end %>
  </p>
<% end %>
<% end %>