---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/settings.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Oz7l7OK0L23tYXx5xxKfKg", oauth_nonce="CbBpJRjt6uYcaT6f5k5taocxKzpr1U2oARWWxOc3s",
        oauth_signature="1kF40FRHiX8QwhHf%2FVwm1%2BQzTM0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369789117", oauth_token="47312435-5jmXLVTIZiawYM544JayOOy2qfjLCNDMNAZhwzJl4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4508b83efb2d4985b3c7dcddcaf45790"'
      Last-Modified:
      - Wed, 29 May 2013 00:58:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Mid:
      - e0fff5c8d780c9cf29b3e6dff62c005243aa6428
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1369790018'
      X-Transaction:
      - 736e9cf9883b50df
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef1145d358e1d
    body:
      encoding: US-ASCII
      string: ! '{"discoverable_by_email":true,"protected":false,"trend_location":[{"country":"United
        States","countryCode":"US","placeType":{"code":7,"name":"Town"},"url":"http:\/\/where.yahooapis.com\/v1\/place\/2473224","parentid":23424977,"woeid":2473224,"name":"Pittsburgh"}],"language":"en","always_use_https":true,"geo_enabled":true,"sleep_time":{"start_time":null,"end_time":null,"enabled":false},"time_zone":{"tzinfo_name":"America\/New_York","utc_offset":-18000,"name":"Eastern
        Time (US & Canada)"},"use_cookie_personalization":true,"screen_name":"jmburges"}'
  recorded_at: Wed, 29 May 2013 00:58:40 GMT
recorded_with: VCR 2.4.0
