---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"0kaFfN0xfjZjASExv-gUnrWhdto/KIxrtMUn5vSa-K7Pg9k5shyFQvo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"discovery#restDescription\",\n \"etag\": \"\\\"0kaFfN0xfjZjASExv-gUnrWhdto/KIxrtMUn5vSa-K7Pg9k5shyFQvo\\\"\",\n
        \"discoveryVersion\": \"v1\",\n \"id\": \"calendar:v3\",\n \"name\": \"calendar\",\n
        \"version\": \"v3\",\n \"revision\": \"20130411\",\n \"title\": \"Calendar
        API\",\n \"description\": \"Lets you manipulate events and other calendar
        data.\",\n \"ownerDomain\": \"google.com\",\n \"ownerName\": \"Google\",\n
        \"icons\": {\n  \"x16\": \"http://www.google.com/images/icons/product/calendar-16.png\",\n
        \ \"x32\": \"http://www.google.com/images/icons/product/calendar-32.png\"\n
        },\n \"documentationLink\": \"https://developers.google.com/google-apps/calendar/firstapp\",\n
        \"protocol\": \"rest\",\n \"baseUrl\": \"https://www.googleapis.com/calendar/v3/\",\n
        \"basePath\": \"/calendar/v3/\",\n \"rootUrl\": \"https://www.googleapis.com/\",\n
        \"servicePath\": \"calendar/v3/\",\n \"batchPath\": \"batch\",\n \"parameters\":
        {\n  \"alt\": {\n   \"type\": \"string\",\n   \"description\": \"Data format
        for the response.\",\n   \"default\": \"json\",\n   \"enum\": [\n    \"json\"\n
        \  ],\n   \"enumDescriptions\": [\n    \"Responses with Content-Type of application/json\"\n
        \  ],\n   \"location\": \"query\"\n  },\n  \"fields\": {\n   \"type\": \"string\",\n
        \  \"description\": \"Selector specifying which fields to include in a partial
        response.\",\n   \"location\": \"query\"\n  },\n  \"key\": {\n   \"type\":
        \"string\",\n   \"description\": \"API key. Your API key identifies your project
        and provides you with API access, quota, and reports. Required unless you
        provide an OAuth 2.0 token.\",\n   \"location\": \"query\"\n  },\n  \"oauth_token\":
        {\n   \"type\": \"string\",\n   \"description\": \"OAuth 2.0 token for the
        current user.\",\n   \"location\": \"query\"\n  },\n  \"prettyPrint\": {\n
        \  \"type\": \"boolean\",\n   \"description\": \"Returns response with indentations
        and line breaks.\",\n   \"default\": \"true\",\n   \"location\": \"query\"\n
        \ },\n  \"quotaUser\": {\n   \"type\": \"string\",\n   \"description\": \"Available
        to use for quota purposes for server-side applications. Can be any arbitrary
        string assigned to a user, but should not exceed 40 characters. Overrides
        userIp if both are provided.\",\n   \"location\": \"query\"\n  },\n  \"userIp\":
        {\n   \"type\": \"string\",\n   \"description\": \"IP address of the site
        where the request originates. Use this if you want to enforce per-user limits.\",\n
        \  \"location\": \"query\"\n  }\n },\n \"auth\": {\n  \"oauth2\": {\n   \"scopes\":
        {\n    \"https://www.googleapis.com/auth/calendar\": {\n     \"description\":
        \"Manage your calendars\"\n    },\n    \"https://www.googleapis.com/auth/calendar.readonly\":
        {\n     \"description\": \"View your calendars\"\n    }\n   }\n  }\n },\n
        \"schemas\": {\n  \"Acl\": {\n   \"id\": \"Acl\",\n   \"type\": \"object\",\n
        \  \"properties\": {\n    \"etag\": {\n     \"type\": \"string\",\n     \"description\":
        \"ETag of the collection.\"\n    },\n    \"items\": {\n     \"type\": \"array\",\n
        \    \"description\": \"List of rules on the access control list.\",\n     \"items\":
        {\n      \"$ref\": \"AclRule\"\n     }\n    },\n    \"kind\": {\n     \"type\":
        \"string\",\n     \"description\": \"Type of the collection (\\\"calendar#acl\\\").\",\n
        \    \"default\": \"calendar#acl\"\n    },\n    \"nextPageToken\": {\n     \"type\":
        \"string\",\n     \"description\": \"Token used to access the next page of
        this result. Omitted if no further results are available.\"\n    }\n   }\n
        \ },\n  \"AclRule\": {\n   \"id\": \"AclRule\",\n   \"type\": \"object\",\n
        \  \"properties\": {\n    \"etag\": {\n     \"type\": \"string\",\n     \"description\":
        \"ETag of the resource.\"\n    },\n    \"id\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Identifier of the ACL rule.\"\n    },\n    \"kind\":
        {\n     \"type\": \"string\",\n     \"description\": \"Type of the resource
        (\\\"calendar#aclRule\\\").\",\n     \"default\": \"calendar#aclRule\"\n    },\n
        \   \"role\": {\n     \"type\": \"string\",\n     \"description\": \"The role
        assigned to the scope. Possible values are:  \\n- \\\"none\\\" - Provides
        no access. \\n- \\\"freeBusyReader\\\" - Provides read access to free/busy
        information. \\n- \\\"reader\\\" - Provides read access to the calendar. Private
        events will appear to users with reader access, but event details will be
        hidden. \\n- \\\"writer\\\" - Provides read and write access to the calendar.
        Private events will appear to users with writer access, and event details
        will be visible. \\n- \\\"owner\\\" - Provides ownership of the calendar.
        This role has all of the permissions of the writer role with the additional
        ability to see and manipulate ACLs.\",\n     \"annotations\": {\n      \"required\":
        [\n       \"calendar.acl.insert\"\n      ]\n     }\n    },\n    \"scope\":
        {\n     \"type\": \"object\",\n     \"description\": \"The scope of the rule.\",\n
        \    \"properties\": {\n      \"type\": {\n       \"type\": \"string\",\n
        \      \"description\": \"The type of the scope. Possible values are:  \\n-
        \\\"default\\\" - The public scope. This is the default value. \\n- \\\"user\\\"
        - Limits the scope to a single user. \\n- \\\"group\\\" - Limits the scope
        to a group. \\n- \\\"domain\\\" - Limits the scope to a domain.  Note: The
        permissions granted to the \\\"default\\\", or public, scope apply to any
        user, authenticated or not.\",\n       \"annotations\": {\n        \"required\":
        [\n         \"calendar.acl.insert\"\n        ]\n       }\n      },\n      \"value\":
        {\n       \"type\": \"string\",\n       \"description\": \"The email address
        of a user or group, or the name of a domain, depending on the scope type.
        Omitted for type \\\"default\\\".\"\n      }\n     },\n     \"annotations\":
        {\n      \"required\": [\n       \"calendar.acl.insert\"\n      ]\n     }\n
        \   }\n   }\n  },\n  \"Calendar\": {\n   \"id\": \"Calendar\",\n   \"type\":
        \"object\",\n   \"properties\": {\n    \"description\": {\n     \"type\":
        \"string\",\n     \"description\": \"Description of the calendar. Optional.\"\n
        \   },\n    \"etag\": {\n     \"type\": \"string\",\n     \"description\":
        \"ETag of the resource.\"\n    },\n    \"id\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Identifier of the calendar.\"\n    },\n    \"kind\":
        {\n     \"type\": \"string\",\n     \"description\": \"Type of the resource
        (\\\"calendar#calendar\\\").\",\n     \"default\": \"calendar#calendar\"\n
        \   },\n    \"location\": {\n     \"type\": \"string\",\n     \"description\":
        \"Geographic location of the calendar as free-form text. Optional.\"\n    },\n
        \   \"summary\": {\n     \"type\": \"string\",\n     \"description\": \"Title
        of the calendar.\",\n     \"annotations\": {\n      \"required\": [\n       \"calendar.calendars.insert\"\n
        \     ]\n     }\n    },\n    \"timeZone\": {\n     \"type\": \"string\",\n
        \    \"description\": \"The time zone of the calendar. Optional.\"\n    }\n
        \  }\n  },\n  \"CalendarList\": {\n   \"id\": \"CalendarList\",\n   \"type\":
        \"object\",\n   \"properties\": {\n    \"etag\": {\n     \"type\": \"string\",\n
        \    \"description\": \"ETag of the collection.\"\n    },\n    \"items\":
        {\n     \"type\": \"array\",\n     \"description\": \"Calendars that are present
        on the user's calendar list.\",\n     \"items\": {\n      \"$ref\": \"CalendarListEntry\"\n
        \    }\n    },\n    \"kind\": {\n     \"type\": \"string\",\n     \"description\":
        \"Type of the collection (\\\"calendar#calendarList\\\").\",\n     \"default\":
        \"calendar#calendarList\"\n    },\n    \"nextPageToken\": {\n     \"type\":
        \"string\",\n     \"description\": \"Token used to access the next page of
        this result.\"\n    }\n   }\n  },\n  \"CalendarListEntry\": {\n   \"id\":
        \"CalendarListEntry\",\n   \"type\": \"object\",\n   \"properties\": {\n    \"accessRole\":
        {\n     \"type\": \"string\",\n     \"description\": \"The effective access
        role that the authenticated user has on the calendar. Read-only. Possible
        values are:  \\n- \\\"freeBusyReader\\\" - Provides read access to free/busy
        information. \\n- \\\"reader\\\" - Provides read access to the calendar. Private
        events will appear to users with reader access, but event details will be
        hidden. \\n- \\\"writer\\\" - Provides read and write access to the calendar.
        Private events will appear to users with writer access, and event details
        will be visible. \\n- \\\"owner\\\" - Provides ownership of the calendar.
        This role has all of the permissions of the writer role with the additional
        ability to see and manipulate ACLs.\"\n    },\n    \"backgroundColor\": {\n
        \    \"type\": \"string\",\n     \"description\": \"The main color of the
        calendar in the format '#0088aa'. This property supersedes the index-based
        colorId property. Optional.\"\n    },\n    \"colorId\": {\n     \"type\":
        \"string\",\n     \"description\": \"The color of the calendar. This is an
        ID referring to an entry in the \\\"calendar\\\" section of the colors definition
        (see the \\\"colors\\\" endpoint). Optional.\"\n    },\n    \"defaultReminders\":
        {\n     \"type\": \"array\",\n     \"description\": \"The default reminders
        that the authenticated user has for this calendar.\",\n     \"items\": {\n
        \     \"$ref\": \"EventReminder\"\n     }\n    },\n    \"description\": {\n
        \    \"type\": \"string\",\n     \"description\": \"Description of the calendar.
        Optional. Read-only.\"\n    },\n    \"etag\": {\n     \"type\": \"string\",\n
        \    \"description\": \"ETag of the resource.\"\n    },\n    \"foregroundColor\":
        {\n     \"type\": \"string\",\n     \"description\": \"The foreground color
        of the calendar in the format '#ffffff'. This property supersedes the index-based
        colorId property. Optional.\"\n    },\n    \"hidden\": {\n     \"type\": \"boolean\",\n
        \    \"description\": \"Whether the calendar has been hidden from the list.
        Optional. The default is False.\"\n    },\n    \"id\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Identifier of the calendar.\",\n     \"annotations\":
        {\n      \"required\": [\n       \"calendar.calendarList.insert\"\n      ]\n
        \    }\n    },\n    \"kind\": {\n     \"type\": \"string\",\n     \"description\":
        \"Type of the resource (\\\"calendar#calendarListEntry\\\").\",\n     \"default\":
        \"calendar#calendarListEntry\"\n    },\n    \"location\": {\n     \"type\":
        \"string\",\n     \"description\": \"Geographic location of the calendar as
        free-form text. Optional. Read-only.\"\n    },\n    \"primary\": {\n     \"type\":
        \"boolean\",\n     \"description\": \"Whether the calendar is the primary
        calendar of the authenticated user. Read-only. Optional. The default is False.\"\n
        \   },\n    \"selected\": {\n     \"type\": \"boolean\",\n     \"description\":
        \"Whether the calendar content shows up in the calendar UI. Optional. The
        default is False.\"\n    },\n    \"summary\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Title of the calendar. Read-only.\"\n    },\n    \"summaryOverride\":
        {\n     \"type\": \"string\",\n     \"description\": \"The summary that the
        authenticated user has set for this calendar. Optional.\"\n    },\n    \"timeZone\":
        {\n     \"type\": \"string\",\n     \"description\": \"The time zone of the
        calendar. Optional. Read-only.\"\n    }\n   }\n  },\n  \"ColorDefinition\":
        {\n   \"id\": \"ColorDefinition\",\n   \"type\": \"object\",\n   \"properties\":
        {\n    \"background\": {\n     \"type\": \"string\",\n     \"description\":
        \"The background color associated with this color definition.\"\n    },\n
        \   \"foreground\": {\n     \"type\": \"string\",\n     \"description\": \"The
        foreground color that can be used to write on top of a background with 'background'
        color.\"\n    }\n   }\n  },\n  \"Colors\": {\n   \"id\": \"Colors\",\n   \"type\":
        \"object\",\n   \"properties\": {\n    \"calendar\": {\n     \"type\": \"object\",\n
        \    \"description\": \"Palette of calendar colors, mapping from the color
        ID to its definition. An 'calendarListEntry' resource refers to one of these
        color IDs in its 'color' field. Read-only.\",\n     \"additionalProperties\":
        {\n      \"$ref\": \"ColorDefinition\",\n      \"description\": \"A calendar
        color defintion.\"\n     }\n    },\n    \"event\": {\n     \"type\": \"object\",\n
        \    \"description\": \"Palette of event colors, mapping from the color ID
        to its definition. An 'event' resource may refer to one of these color IDs
        in its 'color' field. Read-only.\",\n     \"additionalProperties\": {\n      \"$ref\":
        \"ColorDefinition\",\n      \"description\": \"An event color definition.\"\n
        \    }\n    },\n    \"kind\": {\n     \"type\": \"string\",\n     \"description\":
        \"Type of the resource (\\\"calendar#colors\\\").\",\n     \"default\": \"calendar#colors\"\n
        \   },\n    \"updated\": {\n     \"type\": \"string\",\n     \"description\":
        \"Last modification time of the color palette (as a RFC 3339 timestamp). Read-only.\",\n
        \    \"format\": \"date-time\"\n    }\n   }\n  },\n  \"Error\": {\n   \"id\":
        \"Error\",\n   \"type\": \"object\",\n   \"properties\": {\n    \"domain\":
        {\n     \"type\": \"string\",\n     \"description\": \"Domain, or broad category,
        of the error.\"\n    },\n    \"reason\": {\n     \"type\": \"string\",\n     \"description\":
        \"Specific reason for the error. Some of the possible values are:  \\n- \\\"groupTooBig\\\"
        - The group of users requested is too large for a single query. \\n- \\\"tooManyCalendarsRequested\\\"
        - The number of calendars requested is too large for a single query. \\n-
        \\\"notFound\\\" - The requested resource was not found. \\n- \\\"internalError\\\"
        - The API service has encountered an internal error.  Additional error types
        may be added in the future, so clients should gracefully handle additional
        error statuses not included in this list.\"\n    }\n   }\n  },\n  \"Event\":
        {\n   \"id\": \"Event\",\n   \"type\": \"object\",\n   \"properties\": {\n
        \   \"anyoneCanAddSelf\": {\n     \"type\": \"boolean\",\n     \"description\":
        \"Whether anyone can invite themselves to the event. Optional. The default
        is False.\"\n    },\n    \"attendees\": {\n     \"type\": \"array\",\n     \"description\":
        \"The attendees of the event.\",\n     \"items\": {\n      \"$ref\": \"EventAttendee\"\n
        \    }\n    },\n    \"attendeesOmitted\": {\n     \"type\": \"boolean\",\n
        \    \"description\": \"Whether attendees may have been omitted from the event's
        representation. When retrieving an event, this may be due to a restriction
        specified by the 'maxAttendee' query parameter. When updating an event, this
        can be used to only update the participant's response. Optional. The default
        is False.\"\n    },\n    \"colorId\": {\n     \"type\": \"string\",\n     \"description\":
        \"The color of the event. This is an ID referring to an entry in the \\\"event\\\"
        section of the colors definition (see the \\\"colors\\\" endpoint). Optional.\"\n
        \   },\n    \"created\": {\n     \"type\": \"string\",\n     \"description\":
        \"Creation time of the event (as a RFC 3339 timestamp). Read-only.\",\n     \"format\":
        \"date-time\"\n    },\n    \"creator\": {\n     \"type\": \"object\",\n     \"description\":
        \"The creator of the event. Read-only.\",\n     \"properties\": {\n      \"displayName\":
        {\n       \"type\": \"string\",\n       \"description\": \"The creator's name,
        if available.\"\n      },\n      \"email\": {\n       \"type\": \"string\",\n
        \      \"description\": \"The creator's email address, if available.\"\n      },\n
        \     \"id\": {\n       \"type\": \"string\",\n       \"description\": \"The
        creator's Profile ID, if available.\"\n      },\n      \"self\": {\n       \"type\":
        \"boolean\",\n       \"description\": \"Whether the creator corresponds to
        the calendar on which this copy of the event appears. Read-only. The default
        is False.\"\n      }\n     }\n    },\n    \"description\": {\n     \"type\":
        \"string\",\n     \"description\": \"Description of the event. Optional.\"\n
        \   },\n    \"end\": {\n     \"$ref\": \"EventDateTime\",\n     \"description\":
        \"The (exclusive) end time of the event. For a recurring event, this is the
        end time of the first instance.\",\n     \"annotations\": {\n      \"required\":
        [\n       \"calendar.events.import\",\n       \"calendar.events.insert\",\n
        \      \"calendar.events.update\"\n      ]\n     }\n    },\n    \"endTimeUnspecified\":
        {\n     \"type\": \"boolean\",\n     \"description\": \"Whether the end time
        is actually unspecified. An end time is still provided for compatibility reasons,
        even if this attribute is set to True. The default is False.\"\n    },\n    \"etag\":
        {\n     \"type\": \"string\",\n     \"description\": \"ETag of the resource.\"\n
        \   },\n    \"extendedProperties\": {\n     \"type\": \"object\",\n     \"description\":
        \"Extended properties of the event.\",\n     \"properties\": {\n      \"private\":
        {\n       \"type\": \"object\",\n       \"description\": \"Properties that
        are private to the copy of the event that appears on this calendar.\",\n       \"additionalProperties\":
        {\n        \"type\": \"string\",\n        \"description\": \"The name of the
        private property and the corresponding value.\"\n       }\n      },\n      \"shared\":
        {\n       \"type\": \"object\",\n       \"description\": \"Properties that
        are shared between copies of the event on other attendees' calendars.\",\n
        \      \"additionalProperties\": {\n        \"type\": \"string\",\n        \"description\":
        \"The name of the shared property and the corresponding value.\"\n       }\n
        \     }\n     }\n    },\n    \"gadget\": {\n     \"type\": \"object\",\n     \"description\":
        \"A gadget that extends this event.\",\n     \"properties\": {\n      \"display\":
        {\n       \"type\": \"string\",\n       \"description\": \"The gadget's display
        mode. Optional. Possible values are:  \\n- \\\"icon\\\" - The gadget displays
        next to the event's title in the calendar view. \\n- \\\"chip\\\" - The gadget
        displays when the event is clicked.\"\n      },\n      \"height\": {\n       \"type\":
        \"integer\",\n       \"description\": \"The gadget's height in pixels. Optional.\",\n
        \      \"format\": \"int32\"\n      },\n      \"iconLink\": {\n       \"type\":
        \"string\",\n       \"description\": \"The gadget's icon URL.\"\n      },\n
        \     \"link\": {\n       \"type\": \"string\",\n       \"description\": \"The
        gadget's URL.\"\n      },\n      \"preferences\": {\n       \"type\": \"object\",\n
        \      \"description\": \"Preferences.\",\n       \"additionalProperties\":
        {\n        \"type\": \"string\",\n        \"description\": \"The preference
        name and corresponding value.\"\n       }\n      },\n      \"title\": {\n
        \      \"type\": \"string\",\n       \"description\": \"The gadget's title.\"\n
        \     },\n      \"type\": {\n       \"type\": \"string\",\n       \"description\":
        \"The gadget's type.\"\n      },\n      \"width\": {\n       \"type\": \"integer\",\n
        \      \"description\": \"The gadget's width in pixels. Optional.\",\n       \"format\":
        \"int32\"\n      }\n     }\n    },\n    \"guestsCanInviteOthers\": {\n     \"type\":
        \"boolean\",\n     \"description\": \"Whether attendees other than the organizer
        can invite others to the event. Optional. The default is True.\"\n    },\n
        \   \"guestsCanModify\": {\n     \"type\": \"boolean\",\n     \"description\":
        \"Whether attendees other than the organizer can modify the event. Optional.
        The default is False.\"\n    },\n    \"guestsCanSeeOtherGuests\": {\n     \"type\":
        \"boolean\",\n     \"description\": \"Whether attendees other than the organizer
        can see who the event's attendees are. Optional. The default is True.\"\n
        \   },\n    \"hangoutLink\": {\n     \"type\": \"string\",\n     \"description\":
        \"An absolute link to the Google+ hangout associated with this event. Read-only.\"\n
        \   },\n    \"htmlLink\": {\n     \"type\": \"string\",\n     \"description\":
        \"An absolute link to this event in the Google Calendar Web UI. Read-only.\"\n
        \   },\n    \"iCalUID\": {\n     \"type\": \"string\",\n     \"description\":
        \"Event ID in the iCalendar format.\",\n     \"annotations\": {\n      \"required\":
        [\n       \"calendar.events.import\"\n      ]\n     }\n    },\n    \"id\":
        {\n     \"type\": \"string\",\n     \"description\": \"Identifier of the event.\"\n
        \   },\n    \"kind\": {\n     \"type\": \"string\",\n     \"description\":
        \"Type of the resource (\\\"calendar#event\\\").\",\n     \"default\": \"calendar#event\"\n
        \   },\n    \"location\": {\n     \"type\": \"string\",\n     \"description\":
        \"Geographic location of the event as free-form text. Optional.\"\n    },\n
        \   \"locked\": {\n     \"type\": \"boolean\",\n     \"description\": \"Whether
        this is a locked event copy where no changes can be made to the main event
        fields \\\"summary\\\", \\\"description\\\", \\\"location\\\", \\\"start\\\",
        \\\"end\\\" or \\\"recurrence\\\". The default is False. Read-Only.\"\n    },\n
        \   \"organizer\": {\n     \"type\": \"object\",\n     \"description\": \"The
        organizer of the event. If the organizer is also an attendee, this is indicated
        with a separate entry in 'attendees' with the 'organizer' field set to True.
        To change the organizer, use the \\\"move\\\" operation. Read-only, except
        when importing an event.\",\n     \"properties\": {\n      \"displayName\":
        {\n       \"type\": \"string\",\n       \"description\": \"The organizer's
        name, if available.\"\n      },\n      \"email\": {\n       \"type\": \"string\",\n
        \      \"description\": \"The organizer's email address, if available.\"\n
        \     },\n      \"id\": {\n       \"type\": \"string\",\n       \"description\":
        \"The organizer's Profile ID, if available.\"\n      },\n      \"self\": {\n
        \      \"type\": \"boolean\",\n       \"description\": \"Whether the organizer
        corresponds to the calendar on which this copy of the event appears. Read-only.
        The default is False.\"\n      }\n     }\n    },\n    \"originalStartTime\":
        {\n     \"$ref\": \"EventDateTime\",\n     \"description\": \"For an instance
        of a recurring event, this is the time at which this event would start according
        to the recurrence data in the recurring event identified by recurringEventId.
        Immutable.\"\n    },\n    \"privateCopy\": {\n     \"type\": \"boolean\",\n
        \    \"description\": \"Whether this is a private event copy where changes
        are not shared with other copies on other calendars. Optional. Immutable.
        The default is False.\"\n    },\n    \"recurrence\": {\n     \"type\": \"array\",\n
        \    \"description\": \"List of RRULE, EXRULE, RDATE and EXDATE lines for
        a recurring event. This field is omitted for single events or instances of
        recurring events.\",\n     \"items\": {\n      \"type\": \"string\"\n     }\n
        \   },\n    \"recurringEventId\": {\n     \"type\": \"string\",\n     \"description\":
        \"For an instance of a recurring event, this is the event ID of the recurring
        event itself. Immutable.\"\n    },\n    \"reminders\": {\n     \"type\": \"object\",\n
        \    \"description\": \"Information about the event's reminders for the authenticated
        user.\",\n     \"properties\": {\n      \"overrides\": {\n       \"type\":
        \"array\",\n       \"description\": \"If the event doesn't use the default
        reminders, this lists the reminders specific to the event, or, if not set,
        indicates that no reminders are set for this event.\",\n       \"items\":
        {\n        \"$ref\": \"EventReminder\"\n       }\n      },\n      \"useDefault\":
        {\n       \"type\": \"boolean\",\n       \"description\": \"Whether the default
        reminders of the calendar apply to the event.\"\n      }\n     }\n    },\n
        \   \"sequence\": {\n     \"type\": \"integer\",\n     \"description\": \"Sequence
        number as per iCalendar.\",\n     \"format\": \"int32\"\n    },\n    \"source\":
        {\n     \"type\": \"object\",\n     \"description\": \"Source of an event
        from which it was created; for example a web page, an email message or any
        document identifiable by an URL using HTTP/HTTPS protocol. Accessible only
        by the creator of the event.\",\n     \"properties\": {\n      \"title\":
        {\n       \"type\": \"string\",\n       \"description\": \"Title of the source;
        for example a title of a web page or an email subject.\"\n      },\n      \"url\":
        {\n       \"type\": \"string\",\n       \"description\": \"URL of the source
        pointing to a resource. URL's protocol must be HTTP or HTTPS.\"\n      }\n
        \    }\n    },\n    \"start\": {\n     \"$ref\": \"EventDateTime\",\n     \"description\":
        \"The (inclusive) start time of the event. For a recurring event, this is
        the start time of the first instance.\",\n     \"annotations\": {\n      \"required\":
        [\n       \"calendar.events.import\",\n       \"calendar.events.insert\",\n
        \      \"calendar.events.update\"\n      ]\n     }\n    },\n    \"status\":
        {\n     \"type\": \"string\",\n     \"description\": \"Status of the event.
        Optional. Possible values are:  \\n- \\\"confirmed\\\" - The event is confirmed.
        This is the default status. \\n- \\\"tentative\\\" - The event is tentatively
        confirmed. \\n- \\\"cancelled\\\" - The event is cancelled.\"\n    },\n    \"summary\":
        {\n     \"type\": \"string\",\n     \"description\": \"Title of the event.\"\n
        \   },\n    \"transparency\": {\n     \"type\": \"string\",\n     \"description\":
        \"Whether the event blocks time on the calendar. Optional. Possible values
        are:  \\n- \\\"opaque\\\" - The event blocks time on the calendar. This is
        the default value. \\n- \\\"transparent\\\" - The event does not block time
        on the calendar.\"\n    },\n    \"updated\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Last modification time of the event (as a RFC 3339
        timestamp). Read-only.\",\n     \"format\": \"date-time\"\n    },\n    \"visibility\":
        {\n     \"type\": \"string\",\n     \"description\": \"Visibility of the event.
        Optional. Possible values are:  \\n- \\\"default\\\" - Uses the default visibility
        for events on the calendar. This is the default value. \\n- \\\"public\\\"
        - The event is public and event details are visible to all readers of the
        calendar. \\n- \\\"private\\\" - The event is private and only event attendees
        may view event details. \\n- \\\"confidential\\\" - The event is private.
        This value is provided for compatibility reasons.\"\n    }\n   }\n  },\n  \"EventAttendee\":
        {\n   \"id\": \"EventAttendee\",\n   \"type\": \"object\",\n   \"properties\":
        {\n    \"additionalGuests\": {\n     \"type\": \"integer\",\n     \"description\":
        \"Number of additional guests. Optional. The default is 0.\",\n     \"format\":
        \"int32\"\n    },\n    \"comment\": {\n     \"type\": \"string\",\n     \"description\":
        \"The attendee's response comment. Optional.\"\n    },\n    \"displayName\":
        {\n     \"type\": \"string\",\n     \"description\": \"The attendee's name,
        if available. Optional.\"\n    },\n    \"email\": {\n     \"type\": \"string\",\n
[...]
