---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=88201208481.apps.googleusercontent.com&client_secret=tHuoUp7R5SncqBjJy7TkhN8r&grant_type=refresh_token&refresh_token=1%2FdEVsWtxoYW7_XY7TX5oCHgZubOGa5ZlV_Oqktqp0RWw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"access_token\" : \"ya29.AHES6ZS7kwkYEYtnKukriPzu9MowigcOOzNL1pfyrZuN4DoKgnbRVg\",\n
        \ \"token_type\" : \"Bearer\",\n  \"expires_in\" : 3600,\n  \"id_token\" :
        \"eyJhbGciOiJSUzI1NiIsImtpZCI6ImYzZDY2MDQ3ZGFmYTIzNGE0MWI3MzA5Y2Q5OGJlYjJiOWE0MmFlYzEifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiaWQiOiIxMTU2NjQwMTM5MTA0NzU0MDMyODIiLCJzdWIiOiIxMTU2NjQwMTM5MTA0NzU0MDMyODIiLCJhdWQiOiI4ODIwMTIwODQ4MS5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInRva2VuX2hhc2giOiJycXJaQUY0NWZRM0dTaDYycjl5UnZ3IiwiYXRfaGFzaCI6InJxclpBRjQ1ZlEzR1NoNjJyOXlSdnciLCJjaWQiOiI4ODIwMTIwODQ4MS5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImF6cCI6Ijg4MjAxMjA4NDgxLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiaWF0IjoxMzY5OTI3NjUyLCJleHAiOjEzNjk5MzE1NTJ9.M8S3FPH1OMln7BGNQXVAnbJlq60sd8gA1YtFcVXweY_HsXFM65TJHykfxJbEBMujWW9_1dTd7TRKsA8EGBpo7wYhRMtDD7Fg5O_sY_7PC8gAxS5OFSF7Cn3pjz8DMICT1ey7XSo6TYjs-nBW5qErM-6jR2oHnZkgqaCe45cwPWc\"\n}"
  recorded_at: Thu, 30 May 2013 15:32:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/discovery/v1/apis/oauth2/v1/rest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"0kaFfN0xfjZjASExv-gUnrWhdto/wSO6xATyMyVzWi5XYGGjDiXaucI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"discovery#restDescription\",\n \"etag\": \"\\\"0kaFfN0xfjZjASExv-gUnrWhdto/wSO6xATyMyVzWi5XYGGjDiXaucI\\\"\",\n
        \"discoveryVersion\": \"v1\",\n \"id\": \"oauth2:v1\",\n \"name\": \"oauth2\",\n
        \"version\": \"v1\",\n \"revision\": \"20130510\",\n \"title\": \"Google OAuth2
        API\",\n \"description\": \"Lets you access OAuth2 protocol related APIs.\",\n
        \"ownerDomain\": \"google.com\",\n \"ownerName\": \"Google\",\n \"icons\":
        {\n  \"x16\": \"http://www.google.com/images/icons/product/search-16.gif\",\n
        \ \"x32\": \"http://www.google.com/images/icons/product/search-32.gif\"\n
        },\n \"documentationLink\": \"https://developers.google.com/accounts/docs/OAuth2\",\n
        \"protocol\": \"rest\",\n \"baseUrl\": \"https://www.googleapis.com/\",\n
        \"basePath\": \"/\",\n \"rootUrl\": \"https://www.googleapis.com/\",\n \"servicePath\":
        \"\",\n \"batchPath\": \"batch\",\n \"parameters\": {\n  \"alt\": {\n   \"type\":
        \"string\",\n   \"description\": \"Data format for the response.\",\n   \"default\":
        \"json\",\n   \"enum\": [\n    \"json\"\n   ],\n   \"enumDescriptions\": [\n
        \   \"Responses with Content-Type of application/json\"\n   ],\n   \"location\":
        \"query\"\n  },\n  \"fields\": {\n   \"type\": \"string\",\n   \"description\":
        \"Selector specifying which fields to include in a partial response.\",\n
        \  \"location\": \"query\"\n  },\n  \"key\": {\n   \"type\": \"string\",\n
        \  \"description\": \"API key. Your API key identifies your project and provides
        you with API access, quota, and reports. Required unless you provide an OAuth
        2.0 token.\",\n   \"location\": \"query\"\n  },\n  \"oauth_token\": {\n   \"type\":
        \"string\",\n   \"description\": \"OAuth 2.0 token for the current user.\",\n
        \  \"location\": \"query\"\n  },\n  \"prettyPrint\": {\n   \"type\": \"boolean\",\n
        \  \"description\": \"Returns response with indentations and line breaks.\",\n
        \  \"default\": \"true\",\n   \"location\": \"query\"\n  },\n  \"quotaUser\":
        {\n   \"type\": \"string\",\n   \"description\": \"Available to use for quota
        purposes for server-side applications. Can be any arbitrary string assigned
        to a user, but should not exceed 40 characters. Overrides userIp if both are
        provided.\",\n   \"location\": \"query\"\n  },\n  \"userIp\": {\n   \"type\":
        \"string\",\n   \"description\": \"IP address of the site where the request
        originates. Use this if you want to enforce per-user limits.\",\n   \"location\":
        \"query\"\n  }\n },\n \"auth\": {\n  \"oauth2\": {\n   \"scopes\": {\n    \"https://www.googleapis.com/auth/plus.login\":
        {\n     \"description\": \"Know your name, basic info, and list of people
        you're connected to on Google+\"\n    },\n    \"https://www.googleapis.com/auth/plus.me\":
        {\n     \"description\": \"Know who you are on Google\"\n    },\n    \"https://www.googleapis.com/auth/userinfo.email\":
        {\n     \"description\": \"View your email address\"\n    },\n    \"https://www.googleapis.com/auth/userinfo.profile\":
        {\n     \"description\": \"View basic information about your account\"\n    }\n
        \  }\n  }\n },\n \"schemas\": {\n  \"Tokeninfo\": {\n   \"id\": \"Tokeninfo\",\n
        \  \"type\": \"object\",\n   \"properties\": {\n    \"access_type\": {\n     \"type\":
        \"string\",\n     \"description\": \"The access type granted with this token.
        It can be offline or online.\"\n    },\n    \"audience\": {\n     \"type\":
        \"string\",\n     \"description\": \"Who is the intended audience for this
        token. In general the same as issued_to.\"\n    },\n    \"email\": {\n     \"type\":
        \"string\",\n     \"description\": \"The email address of the user. Present
        only if the email scope is present in the request.\"\n    },\n    \"email_verified\":
        {\n     \"type\": \"boolean\",\n     \"description\": \"Boolean flag which
        is true if the email address is verified. Present only if the email scope
        is present in the request.\"\n    },\n    \"expires_in\": {\n     \"type\":
        \"integer\",\n     \"description\": \"The expiry time of the token, as number
        of seconds left until expiry.\",\n     \"format\": \"int32\"\n    },\n    \"issued_at\":
        {\n     \"type\": \"integer\",\n     \"description\": \"The issue time of
        the token, as number of seconds.\",\n     \"format\": \"int32\"\n    },\n
        \   \"issued_to\": {\n     \"type\": \"string\",\n     \"description\": \"To
        whom was the token issued to. In general the same as audience.\"\n    },\n
        \   \"issuer\": {\n     \"type\": \"string\",\n     \"description\": \"Who
        issued the token.\"\n    },\n    \"nonce\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Nonce of the id token.\"\n    },\n    \"scope\": {\n
        \    \"type\": \"string\",\n     \"description\": \"The space separated list
        of scopes granted to this token.\"\n    },\n    \"user_id\": {\n     \"type\":
        \"string\",\n     \"description\": \"The Gaia obfuscated user id.\"\n    },\n
        \   \"verified_email\": {\n     \"type\": \"boolean\",\n     \"description\":
        \"Boolean flag which is true if the email address is verified. Present only
        if the email scope is present in the request.\"\n    }\n   }\n  },\n  \"Userinfo\":
        {\n   \"id\": \"Userinfo\",\n   \"type\": \"object\",\n   \"properties\":
        {\n    \"birthday\": {\n     \"type\": \"string\",\n     \"description\":
        \"The user's birthday. The year is not present.\"\n    },\n    \"email\":
        {\n     \"type\": \"string\",\n     \"description\": \"The user's email address.\"\n
        \   },\n    \"family_name\": {\n     \"type\": \"string\",\n     \"description\":
        \"The user's last name.\"\n    },\n    \"gender\": {\n     \"type\": \"string\",\n
        \    \"description\": \"The user's gender.\"\n    },\n    \"given_name\":
        {\n     \"type\": \"string\",\n     \"description\": \"The user's first name.\"\n
        \   },\n    \"hd\": {\n     \"type\": \"string\",\n     \"description\": \"The
        hosted domain e.g. example.com if the user is Google apps user.\"\n    },\n
        \   \"id\": {\n     \"type\": \"string\",\n     \"description\": \"The focus
        obfuscated gaia id of the user.\"\n    },\n    \"link\": {\n     \"type\":
        \"string\",\n     \"description\": \"URL of the profile page.\"\n    },\n
        \   \"locale\": {\n     \"type\": \"string\",\n     \"description\": \"The
        user's default locale.\"\n    },\n    \"name\": {\n     \"type\": \"string\",\n
        \    \"description\": \"The user's full name.\"\n    },\n    \"picture\":
        {\n     \"type\": \"string\",\n     \"description\": \"URL of the user's picture
        image.\"\n    },\n    \"timezone\": {\n     \"type\": \"string\",\n     \"description\":
        \"The user's default timezone.\"\n    },\n    \"verified_email\": {\n     \"type\":
        \"boolean\",\n     \"description\": \"Boolean flag which is true if the email
        address is verified.\"\n    }\n   }\n  }\n },\n \"methods\": {\n  \"tokeninfo\":
        {\n   \"id\": \"oauth2.tokeninfo\",\n   \"path\": \"oauth2/v1/tokeninfo\",\n
        \  \"httpMethod\": \"POST\",\n   \"description\": \"Get token info\",\n   \"parameters\":
        {\n    \"access_token\": {\n     \"type\": \"string\",\n     \"description\":
        \"The oauth2 access token\",\n     \"location\": \"query\"\n    },\n    \"id_token\":
        {\n     \"type\": \"string\",\n     \"description\": \"The ID token\",\n     \"location\":
        \"query\"\n    }\n   },\n   \"response\": {\n    \"$ref\": \"Tokeninfo\"\n
        \  }\n  }\n },\n \"resources\": {\n  \"userinfo\": {\n   \"methods\": {\n
        \   \"get\": {\n     \"id\": \"oauth2.userinfo.get\",\n     \"path\": \"oauth2/v1/userinfo\",\n
        \    \"httpMethod\": \"GET\",\n     \"description\": \"Get user info\",\n
        \    \"response\": {\n      \"$ref\": \"Userinfo\"\n     },\n     \"scopes\":
        [\n      \"https://www.googleapis.com/auth/plus.login\",\n      \"https://www.googleapis.com/auth/plus.me\",\n
        \     \"https://www.googleapis.com/auth/userinfo.email\",\n      \"https://www.googleapis.com/auth/userinfo.profile\"\n
        \    ]\n    }\n   },\n   \"resources\": {\n    \"v2\": {\n     \"resources\":
        {\n      \"me\": {\n       \"methods\": {\n        \"get\": {\n         \"id\":
        \"oauth2.userinfo.v2.me.get\",\n         \"path\": \"userinfo/v2/me\",\n         \"httpMethod\":
        \"GET\",\n         \"description\": \"Get user info\",\n         \"response\":
        {\n          \"$ref\": \"Userinfo\"\n         },\n         \"scopes\": [\n
        \         \"https://www.googleapis.com/auth/plus.login\",\n          \"https://www.googleapis.com/auth/plus.me\",\n
        \         \"https://www.googleapis.com/auth/userinfo.email\",\n          \"https://www.googleapis.com/auth/userinfo.profile\"\n
        \        ]\n        }\n       }\n      }\n     }\n    }\n   }\n  }\n }\n}\n"
  recorded_at: Thu, 30 May 2013 15:32:33 GMT
- request:
    method: get
    uri: https://www.googleapis.com/oauth2/v1/userinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZSgBHsb90W_LnoQYGoWdt_vSgsu8IVSw2cEu2L-dqbw5fkIuA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"id\": \"115664013910475403282\",\n \"name\": \"Joe Burgess\",\n
        \"given_name\": \"Joe\",\n \"family_name\": \"Burgess\",\n \"link\": \"https://plus.google.com/115664013910475403282\",\n
        \"picture\": \"https://lh6.googleusercontent.com/-MN6c4RbmX7c/AAAAAAAAAAI/AAAAAAAAB-k/9kEljWpz07A/photo.jpg\",\n
        \"gender\": \"male\",\n \"birthday\": \"0000-05-31\",\n \"locale\": \"en\"\n}\n"
  recorded_at: Thu, 30 May 2013 15:32:34 GMT
recorded_with: VCR 2.4.0
