<h1>Your Services</h1>

<table>
  <tr>
    <th>Service</th>
    <th></th>
  </tr>

<% @authorizations.each do |authorization| %>
  <tr>
    <td><%= authorization.auth_type %></td>
    <td><%= link_to 'Delete', authorization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% if current_user.new_service_allowed? %>
  <%= link_to 'Add A New Service', new_authorization_path %>
<% end%>
