<h1>Which site would you like to connect to?</h1>

<%= form_tag authorizations_path, :method=>:post do %>
  <%=select_tag("provider",options_for_select(@services))%>
  <br />
  <%= submit_tag("Submit")%>
<% end %>
<%= link_to 'Back', authorizations_path %>
